.mainResultsSection .imageResults {
	margin: 20px;
}

.gridItem {
	position: relative;
}

.gridItem img {
	max-width: 200px;
	min-width: 50px;
}

.gridItem .details {
	visibility: hidden;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	font-size: 11px;
	padding: 3px;
	box-sizing: border-box;
	white-space: nowrap;
}

.gridItem:hover .details {
	visibility: visible;
}